<p id="notice"><%= notice %></p>

<h1>漢字</h1>
<h3><%= @kanjis.count %>文字</h3>

<% (1..6).each do |n| %>
  <div class="wrapper">
    <h3 class="year"><%= link_to "#{n}年生", year_path(n) %></h3>
    <h4><%= link_to "PDFを表示", pdf_year_path(id: n, format: "pdf")%></h4>
  </div>
  <div class="wrapper">
    <% @kanjis.where(year_id: n).each do |kanji| %>
      <%= link_to kanji.kanji, kanji, class: "kanji-mini"%>
    <% end %>
  </div>
<% end %>

