<p id="notice"><%= notice %></p>

<h1>漢字</h1>
<h3><%= @kanjis.count %>文字</h3>

<% (1..6).each do |n| %>
  <h3><%= n %>年生</h3>
  <div class="wrapper">
    <% @kanjis.where(year_id: n).each do |kanji| %>
      <div class="kanji-mini">
        <%= link_to kanji.kanji, kanji %>
      </div>
    <%# <td><%= link_to 'Destroy', kanji, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </div>
<% end %>

<%= link_to '新しい漢字を追加', new_kanji_path %>
