<p id="notice"><%= notice %></p>

<h2><%= @year.year %>年生</h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
      <h3><%= @year.kanjis.count %>文字</h3>
    </tr>
  </thead>

  <tbody>
    <% @year.kanjis.each do |k| %>
      <tr>
        <td><%= k.kanji %></td>
        <td><%= link_to 'Show', k %></td>
      </tr>
    <% end %>
  </tbody>
</table>

