<p id="notice"><%= notice %></p>

<h2><%= @year.year %>年生</h2>


<h3><%= @year.kanjis.count %>文字</h3>
<%= link_to "PDFを表示", pdf_year_path(id: @year.id, format: "pdf") %>

<div class="wrapper">
  <% @year.kanjis.each do |k| %>
    <b class="kanji"><%= link_to k.kanji, k %></b>
  <% end %>
</div>
